<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplicación por un Escalar</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/operaciones.css">
</head>
<body>
    <header>
        <h1>Multiplicación por un Escalar</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../menu/introduccion.html">Introducción</a></li>
                <li><a href="../menu/conclusiones.html">Conclusiones</a></li>
                <li><a href="../menu/cibergrafia.html">Cibergrafía</a></li>
            </ul>
        </nav>
    </header>

    <div class="content_home content_scalar_multiplication">
        <h2>
            ¿Qué es la multiplicación por un escalar?
            <br>
            <span>
                La multiplicación por un escalar es una operación que se realiza entre un vector y un número real
                (escalar). Consiste en multiplicar cada componente del vector por el número escalar.
            </span>
        </h2>

        <h2>Multiplicación de un Vector por un Escalar
            <br>
            <span>
                Para multiplicar un vector por un escalar, simplemente multiplicamos cada componente del vector por el
                escalar. Por ejemplo, si tenemos un vector <strong>V</strong> y un escalar <strong>k</strong>, la
                multiplicación sería:
                <br>
                <strong class="center_text">k * V = (k * Vx, k * Vy)</strong>
                <br>
                donde Vx y Vy son las componentes en x e y del vector V, respectivamente, y k es el escalar.
            </span>
        </h2>
    </div>

    <footer>
        <p>&copy; Todos los derechos son reservados para la práctica de fundamentación a HTML, CSS y Listas modificadas.</p>
    </footer>
</body>
</html>
