<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA6-220501096-AA4-EV01</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/operaciones.css">
</head>

<body>
    <header>
        <h1>Suma y resta de vectores</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../menu/introduccion.html">Introducción</a></li>
                <li><a href="../menu/conclusiones.html">Conclusiones</a></li>
                <li><a href="../menu/cibergrafia.html">Cibergrafía</a></li>
            </ul>
        </nav>
    </header>

    <div class="content_home content_sum_rest">
        <h2>
            ¿Qué son los vectores? <br>
            <span>Los vectores son magnitudes que tienen dirección y magnitud. En el caso de dos vectores, la suma de
                los
                mismos se obtiene sumando los componentes correspondientes. La resta se efectúa de manera
                similar.</span>
        </h2>

        <h2>Suma de Vectores <br>
            <span>
                Para sumar dos vectores, simplemente sumamos sus componentes correspondientes. Por ejemplo, si tenemos
                dos
                vectores <strong>A</strong> y <strong>B</strong>, la suma sería: <br><br>
                <strong class="center_text">A + B = (Ax + Bx, Ay + By),</strong><br>
                donde Ax y Ay son las componentes en x e y del vector A, y Bx y By son las componentes en
                x e y del vector B.
            </span>
        </h2>

        <h2>Resta de Vectores <br>
            <span>
                La resta de vectores se realiza de manera similar a la suma, pero restando las componentes
                correspondientes.
                Por ejemplo, la resta de los vectores <strong>A</strong> y <strong>B</strong> sería: <br><br>
                <strong class="center_text">A - B = (Ax -
                    Bx, Ay - By)</strong>.
            </span>
        </h2>
    </div>

    <footer>
        <p>&copy; Todos los derechos son reservados para la práctica de fundamentación a HTML, CSS y Listas modificadas.</p>
    </footer>
</body>

</html>