<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA6-220501096-AA4-EV01</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/menu.css">
</head>

<body>
    <header>
        <h1>Cibergrafía</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="./introduccion.html">Introducción</a></li>
                <li><a href="./conclusiones.html">Conclusiones</a></li>
                <li><a href="./cibergrafia.html">Cibergrafía</a></li>
            </ul>
        </nav>
    </header>

    <div class="content_cibergrafia">
        <ul>
            <li>
                <a href="https://sena.territorio.la/content/index.php/institucion/Titulada/institution/SENA/Tecnologia/228118/Contenido/OVA/CF21/index.html#/">
                    https://sena.territorio.la/content/index.php/institucion/Titulada/institution/SENA/Tecnologia/228118/Contenido/OVA/CF21/index.html#/
                </a>
            </li>
            <li>
                <a href="https://sena.territorio.la/content/index.php/institucion/Titulada/institution/SENA/Tecnologia/228118/Contenido/OVA/CF20/index.html#/">
                    https://sena.territorio.la/content/index.php/institucion/Titulada/institution/SENA/Tecnologia/228118/Contenido/OVA/CF20/index.html#/
                </a>
            </li>
            <li>
                <a href="https://www.silocreativo.com/gamas-de-colores-usos-y-combinaciones/">
                    https://www.silocreativo.com/gamas-de-colores-usos-y-combinaciones/
                </a>
            </li>
            <li>
                <a href="https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/Styling_tables">
                    https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/Styling_tables
                </a>
            </li>
            <li>
                <a href="https://code.visualstudio.com/">
                    https://code.visualstudio.com/
                </a>
            </li>
            <li>
                <a href="https://es.khanacademy.org/computing/computer-programming/programming-natural-simulations/programming-vectors/a/intro-to-vectors">
                    https://es.khanacademy.org/computing/computer-programming/programming-natural-simulations/programming-vectors/a/intro-to-vectors
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=IrTeyyzerjI">
                    https://www.youtube.com/watch?v=IrTeyyzerjI
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=fjizt35knGs">
                    https://www.youtube.com/watch?v=fjizt35knGs
                </a>
            </li>
            <li>
                <a href="https://www.superprof.es/apuntes/escolar/matematicas/analitica/vectores/multiplicacion-de-un-escalar-por-un-vector.html">
                    https://www.superprof.es/apuntes/escolar/matematicas/analitica/vectores/multiplicacion-de-un-escalar-por-un-vector.html
                </a>
            </li>
            <li>
                <a href="https://www.ferrovial.com/es/stem/vectores/">
                    https://www.ferrovial.com/es/stem/vectores/
                </a>
            </li>
            <li>
                <a href="https://www.freepik.es/foto-gratis/ilustracion-simbolo-arco-tiro-arco-icono_3540059.htm#query=flecha%20para%20ambos%20lados&position=4&from_view=search&track=ais&uuid=c73c3a1a-a36d-481b-89ea-6426cc5ea954">
                    https://www.freepik.es/foto-gratis/ilustracion-simbolo-arco-tiro-arco-icono_3540059.htm#query=flecha%20para%20ambos%20lados&position=4&from_view=search&track=ais&uuid=c73c3a1a-a36d-481b-89ea-6426cc5ea954
                </a>
            </li>
            <li>
                <a href="https://www.freepik.es/foto-gratis/conjunto-flechas-coloridas-dibujadas-mano_23548906.htm#query=flecha&position=0&from_view=search&track=sph&uuid=440ee70b-ae17-475d-8a59-02f0e0da8c94">
                    https://www.freepik.es/foto-gratis/conjunto-flechas-coloridas-dibujadas-mano_23548906.htm#query=flecha&position=0&from_view=search&track=sph&uuid=440ee70b-ae17-475d-8a59-02f0e0da8c94
                </a>
            </li>
            <li>
                <a href="https://www.freepik.es/foto-gratis/fondo-futurista-abstracto-diseno-3d_19314510.htm#query=vectores&position=31&from_view=search&track=sph&uuid=6eec416f-662a-4871-b3cd-9f407b49bcfa">
                    https://www.freepik.es/foto-gratis/fondo-futurista-abstracto-diseno-3d_19314510.htm#query=vectores&position=31&from_view=search&track=sph&uuid=6eec416f-662a-4871-b3cd-9f407b49bcfa
                </a>
            </li>
            <li>
                <a href="https://www.freepik.es/foto-gratis/naturaleza-muerta-que-ilustra-concepto-etica_26407521.htm#query=magnitud%20direccion%20sentido&position=0&from_view=search&track=ais&uuid=2cbcdfad-f7a3-48bc-a1bf-ab174dde8c7c">
                    https://www.freepik.es/foto-gratis/naturaleza-muerta-que-ilustra-concepto-etica_26407521.htm#query=magnitud%20direccion%20sentido&position=0&from_view=search&track=ais&uuid=2cbcdfad-f7a3-48bc-a1bf-ab174dde8c7c
                </a>
            </li>
            <li>
                <a href="https://www.freepik.es/foto-gratis/arreglo-geometrico-formas-3d_16691186.htm#query=tridimensional%20plano&position=8&from_view=search&track=ais&uuid=795bdfe3-1eac-4cc4-a935-e07b9382ba42">
                    https://www.freepik.es/foto-gratis/arreglo-geometrico-formas-3d_16691186.htm#query=tridimensional%20plano&position=8&from_view=search&track=ais&uuid=795bdfe3-1eac-4cc4-a935-e07b9382ba42
                </a>
            </li>
            <li>
                <a href="https://www.freepik.es/foto-gratis/composicion-concepto-numerologia_38110404.htm#query=multiplicacion%20escalar%20mate&position=9&from_view=search&track=ais&uuid=da9ab3ea-a8b0-4015-9ddc-4419639c18a3">
                    https://www.freepik.es/foto-gratis/composicion-concepto-numerologia_38110404.htm#query=multiplicacion%20escalar%20mate&position=9&from_view=search&track=ais&uuid=da9ab3ea-a8b0-4015-9ddc-4419639c18a3
                </a>
            </li>
            <li>
                <a
                    href="https://www.freepik.es/foto-gratis/composicion-concepto-numerologia_38110401.htm#&position=2&from_view=collections&uuid=865bac8c-acee-4bb0-946b-bc1423168e8b">
                    https://www.freepik.es/foto-gratis/composicion-concepto-numerologia_38110401.htm#&position=2&from_view=collections&uuid=865bac8c-acee-4bb0-946b-bc1423168e8b

                </a>
            </li>
            <!-- Agrega más elementos según sea necesario -->
        </ul>
    </div>

    <footer>
        <p>&copy; Todos los derechos son reservados para la práctica de fundamentación a HTML, CSS y Listas modificadas.
        </p>
    </footer>
</body>

</html>