<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA6-220501096-AA4-EV01</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/menu.css">
</head>

<body>
    <header>
        <h1>Conclusiones</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="./introduccion.html">Introducción</a></li>
                <li><a href="./conclusiones.html">Conclusiones</a></li>
                <li><a href="./cibergrafia.html">Cibergrafía</a></li>
            </ul>
        </nav>
    </header>

    <div class="content_conclusion">
        <p>
            En este trabajo se ha desarrollado una página web con fines educativos, utilizando HTML y CSS, que permite al usuario aprender sobre los vectores de una manera interactiva y atractiva.
        </p>
        <p>
            La página web también incluye:
            <ul>
                <li>
                    Un menú de navegación: Permite al usuario acceder a las diferentes secciones de la página web.
                </li>
                <li>
                    Vistas adicionales al home: Se incluyen enlaces a otras vistas web.
                </li>
                <li>
                    Un pie de página: Contiene información sobre los derechos de autor y el propósito de la página web.
                </li>
            </ul>




        </p>
        <p>
            El diseño de la página web es atractivo y fácil de usar. Se ha utilizado una combinación de colores y tipografías que hacen que la página sea agradable a la vista. La información está organizada de forma clara y concisa, y se ha utilizado una variedad de recursos multimedia para hacer que la página sea más interactiva.
        </p>
        <p>
            En general, este trabajo ha permitido demostrar la capacidad de utilizar HTML y CSS para desarrollar una página web con fines educativos. La página web es informativa, atractiva y fácil de usar, y puede ser un recurso útil para estudiantes que deseen aprender sobre los vectores.
        </p>
        <p>
            Por lo tanto, 
            <ul>
                <li>
                    Se ha desarrollado una página web completa e informativa sobre los vectores.
                </li>
                <li>
                    La página web es interactiva y atractiva para el usuario.
                </li>
                <li>
                    Se ha utilizado una variedad de recursos multimedia para mejorar la experiencia del usuario.
                </li>
                <li>
                    La página web puede ser un recurso útil para estudiantes que deseen aprender sobre los vectores.
                </li>
                <li>
                    Los conceptos básicos relacionados con los vectores y su importancia en diversos contextos son de gran relevancia.
                </li>
                <li>
                    Esperamos que esta tutoría te haya brindado una comprensión inicial sólida de estos conceptos y te haya motivado a explorar más sobre este fascinante tema.
                </li>
            </ul>
        </p>
    </div>
    


    <footer>
        <p>&copy; Todos los derechos son reservados para la práctica de fundamentación a HTML, CSS y Listas modificadas.</p>
    </footer>
</body>

</html>