<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA6-220501096-AA4-EV01</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/menu.css">
</head>

<body>
    <header>
        <h1>Introducción</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="./introduccion.html">Introducción</a></li>
                <li><a href="./conclusiones.html">Conclusiones</a></li>
                <li><a href="./cibergrafia.html">Cibergrafía</a></li>
            </ul>
        </nav>
    </header>

    <div class="content_introduction">
        <p>En este proyecto, se abordó el tema de tutorías sobre vectores, utilizando HTML y CSS para mejorar la
            presentación y navegación de una serie de vistas que contienen listas y contenido informativo relacionado
            con este tema específico. El objetivo principal fue proporcionar una experiencia de aprendizaje más efectiva
            y atractiva para aquellos que deseen comprender los conceptos fundamentales de los vectores y sus
            aplicaciones.</p>

        <p>Los vectores son entidades matemáticas que poseen magnitud y dirección, y tienen una amplia gama de
            aplicaciones en campos como la física, la ingeniería, la informática y más. Por lo tanto, es crucial ofrecer
            una presentación clara y concisa de estos conceptos para facilitar su comprensión y aplicación. Se aplicaron técnicas de diseño web para mejorar la
            legibilidad, la organización y la estética del contenido, con el objetivo de hacer que el aprendizaje sea
            más accesible y atractivo para el usuario.</p>

        <p>A lo largo de este proyecto, se exploraron diferentes aspectos de los vectores, incluyendo su definición,
            tipos, operaciones básicas y propiedades. Cada sección se diseñó cuidadosamente para proporcionar una
            experiencia de aprendizaje estructurada y fluida, que permita a los usuarios adquirir conocimientos de
            manera progresiva y comprensible.</p>
    </div>

    <footer>
        <p>&copy; Todos los derechos son reservados para la práctica de fundamentación a HTML, CSS y Listas modificadas.
        </p>
    </footer>
</body>

</html>